[user]
    name = Jonathan Gilchrist
    email = jonnygilchrist@gmail.com

[core]
    editor = vim
    pager = less -FXRS
    excludesfile = ~/.gitexcludes
    autocrlf = input

[commit]
    verbose = true

[fetch]
    prune = true

[log]
    decorate = auto

[branch]
    # Always use rebase instead of merge when pulling branches
    autosetuprebase = always

[push]
    default = simple

[pull]
    ff = only

[diff]
    indentHeuristic = true
    mnemonicprefix = true

[merge]
    conflictstyle = diff3
    tool = vimdiff

[rebase]
    stat = true
    autosquash = true
    autostash = true

[rerere]
    enabled = true

[stash]
    showPatch = true

[color]
    ui = auto

[alias]
    aa = add --all
    ap = add -p
    au = add -u
    b  = branch
    ci = commit
    co = checkout
    di = diff
    ds = diff --staged
    rh = reset HEAD
    s  = status -sb

    amend = commit --amend
    bnew = checkout -b
    create = !git init && git commit --allow-empty -m \"Created repository\"
    pushfwl = push --force-with-lease
    restage = update-index --again
    up = !git push --set-upstream origin "$(git rev-parse --abbrev-ref HEAD)"

    assumed = !git ls-files -v | grep "^[[:lower:]]"
    merged = !git branch --merged | grep -v "\\*"
    root = rev-parse --show-toplevel
    tracking = rev-parse --abbrev-ref '@{u}'

    lg = log --oneline --graph --format='%C(green)%h|%C(auto)%d%C(reset) %s %C(yellow)%cr %C(blue)(%an)%C(reset)'
    l = !git lg -10
    ll = !git lg --all
    lo = !git lg `git tracking`^.. # Show the log since the origin/master commit
    head = !git lg -1

[include]
    path = ~/.gitconfig.local
