[user]
    name = Jonny Gilchrist
    email = jonnygilchrist@gmail.com
[color]
    ui = auto
[color "branch"]
    current = green reverse
    remote = yellow
[core]
    editor = vim
    pager = less -FXRS
    excludesfile = ~/.gitignore_global
    autocrlf = input
    whitespace = trailing-space,space-before-tab
[diff]
    algorithm = patience
    renames = copies
    mnemonicprefix = true
[push]
    default = simple
[alias]
    create = !git init && git commit --allow-empty -m \"Created repository\"

    aa = add --all
    au = add -u
    ap = add -p
    s = status -s
    st = status
    ci = commit
    cm = commit -m

    co = checkout
    b = branch

    di = diff
    dc = diff --cached
    dl = diff HEAD^ HEAD
    wdiff = diff --color-words

    head = !git lb -1
    h = !git head

    lb = !git log --oneline --abbrev-commit --graph --decorate --color
    l = !git lb -10
    la = !git lb --all
