[user]
    name = Jonny Gilchrist
    email = jonnygilchrist@gmail.com

[core]
    editor = vim
    pager = less -FXRS
    excludesfile = ~/.gitexcludes
    autocrlf = input
    whitespace = trailing-space,space-before-tab

[commit]
    verbose = true

[branch]
    # Always use rebase instead of merge when pulling branches
    autosetuprebase = always

[push]
    default = simple

[diff]
    compactionHeuristic = true
    mnemonicprefix = true

[merge]
    conflictstyle = diff3

[rebase]
    autosquash = true

[stash]
    showPatch = true

[color]
    ui = auto
[color "branch"]
    remote = yellow

[alias]
    create = !git init && git commit --allow-empty -m \"Created repository\"

    aa = add --all
    au = add -u
    ap = add -p

    rh = reset HEAD

    amend = commit --amend

    s = status -sb

    ci = commit

    co = checkout
    b = branch
    bnew = checkout -b

    di = diff
    dc = diff --staged
    ds = diff --staged
    dl = show -p --oneline --stat
    dw = diff --color-words
    dcw = diff --staged --color-words

    assume = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed = !git ls-files -v | grep "^[[:lower:]]"
    restage = update-index --again

    up = !git push --set-upstream origin "$(git rev-parse --abbrev-ref HEAD)"
    merged = !git branch --merged | grep -v "\\*" | grep -v "master"
    tracking = !git rev-parse --abbrev-ref '@{u}'

    prettylog = log --oneline --graph --format='%C(green)%h%C(auto)%d%C(reset) %s %C(yellow)(%cr)%C(reset) %C(blue)<%an>%C(reset)'
    lg = !git prettylog
    l = !git prettylog -10
    la = !git prettylog --all -10
    ll = !git prettylog --all
    head = !git prettylog -1

    # Show the log since the origin/master commit
    lo = !git prettylog `git tracking`^..

    root = !pwd

[url "git@github.com:jgilchrist/"]
    insteadOf = gh:
[url "git@bitbucket.org:jgilchrist/"]
    insteadOf = bb:
[url "git@github.com:"]
    insteadOf = github:
[url "git@bitbucket.org:"]
    insteadOf = bitbucket:

[advice]
    pushNonFastForward = false
    statusHints = false
    detachedHead = false
    ; commitBeforeMerge = false
    ; resolveConflict = false
    ; implicitIdentity = false

[rerere]
    enabled = true

[include]
    path = ~/.gitconfig.local
