[user]
    name = Jonathan Gilchrist
    email = jonnygilchrist@gmail.com

[core]
    editor = vim
    pager = less -FXRS --tabs=4
    excludesfile = ~/.config/git/excludes
    autocrlf = input

[commit]
    verbose = true

[fetch]
    prune = true

[log]
    date = human
    decorate = auto

[branch]
    # Always use rebase instead of merge when pulling branches
    autosetuprebase = always

[push]
    default = simple

[pull]
    ff = only

[diff]
    indentHeuristic = true
    noPrefix = true

[merge]
    conflictstyle = diff3
    tool = vimdiff

[mergetool]
    keepBackup = false

[rebase]
    stat = true
    autosquash = true
    autostash = true

[advice]
	detachedHead = false

[rerere]
    enabled = true

[stash]
    showPatch = true

[color]
    ui = auto

[alias]
    aa = add --all
    ap = add --patch
    au = add --update
    b  = branch
    ci = commit
    co = checkout
    di = diff
    ds = diff --staged
    rh = reset HEAD
    s  = status --short --branch

    amend = commit --amend
    bnew = checkout -b
    create = !git init && git commit --allow-empty -m \"Created repository\"
    pushfwl = push --force-with-lease
    restage = update-index --again
    tags = tag --sort=-taggerdate
    up = !git push --set-upstream origin "$(git rev-parse --abbrev-ref HEAD)"
    vtag = !git tag -a -m "" $1

    assumed = !git ls-files -v | grep "^[[:lower:]]"
    merged = !git branch --merged | grep -v "\\*"
    root = rev-parse --show-toplevel
    tracking = rev-parse --abbrev-ref '@{u}'

    lg = log --oneline --graph --format='%C(black)%h%C(auto)%d%C(reset) %s %C(green)%cd %C(blue)(%an)%C(reset)'
    l = lg -20
    ll = lg --all
    lls = ll --simplify-by-decoration
    lo = lg `git tracking`^.. # Show the log since the origin/master commit
    head = lg -1
    mine = !git lg --author="$(git config user.email)"

[include]
    path = ~/.local/gitconfig
