[user]
    name = Jonathan Gilchrist
    email = jonnygilchrist@gmail.com

[core]
    pager = less -FXRS --tabs=4
    excludesfile = ~/.config/git/excludes
    autocrlf = input

[commit]
    verbose = true

[fetch]
    prune = true

[log]
    date = human
    decorate = auto

[branch]
    # Always use rebase instead of merge when pulling branches
    autosetuprebase = always

[push]
    default = simple

[pull]
    ff = only

[diff]
    indentHeuristic = true
    noPrefix = true

[merge]
    conflictstyle = diff3
    tool = vim_mergetool

[mergetool]
    keepBackup = false

[mergetool "vim_mergetool"]
    cmd = vim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = true

[rebase]
    stat = true
    autosquash = true
    autostash = true

[advice]
    detachedHead = false

[rerere]
    enabled = true

[stash]
    showPatch = true

[color]
    ui = auto

[alias]
    aa = add --all
    ap = add --patch
    au = add --update
    b  = branch
    ci = commit
    di = diff
    ds = diff --staged
    rh = reset HEAD
    s  = status --short --branch

    amend = commit --amend
    bnew = switch --create
    create = !git init && git commit --allow-empty -m \"Created repository\"
    pushfwl = push --force-with-lease
    restage = update-index --again
    tags = tag --sort=-taggerdate
    up = !git push --set-upstream upstream "$(git rev-parse --abbrev-ref HEAD)"
    vtag = !git tag -a -m "" $1

    assumed = !git ls-files -v | grep "^[[:lower:]]"
    merged = !git branch --merged | grep -v "\\*"
    root = rev-parse --show-toplevel
    tracking = rev-parse --abbrev-ref '@{u}'

    lg = log --oneline --graph --format='%C(black)%h%C(auto)%d%C(reset) %s %C(green)%cd %C(blue)(%an)%C(reset)'
    l = lg -20
    ll = lg --all
    lls = ll --simplify-by-decoration
    lr = !git lg "$(git tracking)"^..
    head = lg -1

[advice]
    pushNonFastForward = false
    statusHints        = false
    commitBeforeMerge  = false
    resolveConflict    = false
    detachedHead       = false

[include]
    path = ~/.local/gitconfig
