# List all matches when attempting to complete filenames
set show-all-if-ambiguous on

# Autocomplete regardless of case
set completion-ignore-case on

# Immediately add a trailing / when completing symlinked directories
set mark-symlinked-directories on

# Don't expand ~ into its full path
set expand-tilde off

# Don't show the full names when completing many similarly named files
set completion-prefix-display-length 2
